{% extends "base.html" %}

{% block title %} HOME {% endblock %}

{% block content %}
</head>
<body>

    <p>
        This is the home
    </p>
    <h2>
        This is the date: {{today_date}} <br>
        Day: {{today_date.day}}
    </h2>
    <h1><strong>List of Colors</strong></h1>
    <p>Showing the first element of list colors: {{colors.0}}</p>
    <p>
        <ul>
            {% if colors%}

            {% for i in colors %}
            <li>{{ i }}</li>
            {% endfor %}

            {% else %}
            <p>No colors to show</p>
            {% endif %}
        </ul>
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WjpmruGrsv0?si=3gtJ1_HnpQKfhkmk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</body>
{% endblock %}