{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <div style="float: right;">
        <p style="color: white;">Cart: $ {{cart_total}}</p>
    </div>

    <div class="row">

        {% for item in items %} 
        
        <div class="col-md-3">

            <div class="card" style="width: auto; margin: 10px">

                <img src="{{item.image.url}}" class="card-img-top">

                <div class="card-body" style="text-align: center;">

                    <h6 class="card-title">{{item.name}}</h6>
                    <p class="card-text">{{item.price}}&nbsp;$</p>
                    <h6 class="card-title">{{item.category}}</h6>

                </div>

                <div class="card-footer text-center">

                    <a href="#" class="btn btn-succes">Add to Cart</a>

                </div>

            </div>
        
        </div>
                
        {% endfor %}

    </div>

</div>

{% endblock %}   