{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <div style="float: right;">

        {% if request.user.is_authenticated %}
        
        {% include "cart/widget.html" %}

        {% else %}

            <div class="alert alert-danger text-center" style="color: white;">Must Login to view Cart</div>
            
        {% endif %}
        
    </div>

    <div class="row">

        {% for item in items %} 
        
        <div class="col-md-3">

            <div class="card" style="width: auto; margin: 10px">

                <img src="{{item.image.url}}" class="card-img-top">

                <div class="card-body" style="text-align: center;">

                    <h6 class="card-title">{{item.name}}</h6>
                    <p class="card-text">{{item.price}}&nbsp;$</p>
                    <h6 class="card-title">{{item.category}}</h6>

                </div>

                <div class="card-footer text-center">

                    <a href="{% url 'cart:add' item.id %}" class="btn btn-success">Add to Cart</a>

                </div>

            </div>
        
        </div>
                
        {% endfor %}

    </div>

</div>

{% endblock %}   